body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
   
}

.formular{
    margin: auto;
    padding: auto;
    opacity: 0.9;
    border: 1px solid black;
    width: 100%;
    background-color: #FFF5E4;
}

.notice  {
    position: fixed;
z-index: 1;
background-color: blue;
}

.sub {
background-color: #FF9494;
border: none;
color: black;
}