html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f7efef;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.formular {
  margin: auto;
  padding: 2rem;
  opacity: 0.9;
  border-radius: 10px;
  width: 100%;
  background-color: #fff5e4;
  z-index: 999;
}

.formular input {
  z-index: 999;
  font-weight: bold;
}

.notice {
  position: fixed;
  z-index: 99;
  background-color: rgb(30, 255, 0);
}

.sub {
  background-color: #ffd1d1;
  border: none;
  color: black;
}

.navbar-brand img {
  width: 75px;
  height: 75px;
}

.nav-link-large {
  font-size: 1.25rem;
}

.nav-link {
  font-weight: bold;
}

.nav-link.active-link:hover {
  color: #dc3545 !important;
}


.footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 18px;
}

.footer .container {
  padding-top: 0;
  padding-bottom: 0;
}

.footer h5 {
  margin-bottom: 1rem;
}

.footer-author-name {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.footer a {
  margin-right: 8px;
}

.footer a:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .footer .col-md-8 {
    text-align: center;
    margin-top: 1rem;
  }
}