<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "banner1.svg", class: "d-block w-100", alt: "Second slide" %>

    </div>
    <div class="carousel-item">
    <%= image_tag "banner2.svg", class: "d-block w-100", alt: "Second slide" %>
    </div>
    <div class="carousel-item">
    <%= image_tag "banner3.svg", class: "d-block w-100", alt: "Second slide" %>

    </div>
  </div>
</div>