<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "rec2.webp", class: "d-block w-100", alt: "Second slide" %>

    </div>
    <div class="carousel-item">
    <%= image_tag "rec1.jpg", class: "d-block w-100", alt: "Second slide" %>
    </div>
    <div class="carousel-item">
    <%= image_tag "im3.jpg", class: "d-block w-100", alt: "Second slide" %>

    </div>
  </div>
</div>