<% if user_signed_in? %>
<footer class="footer bg-dark text-white pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mb-3">
        <h5>Connect with us</h5>
        <!-- Author 1: Julio Quezada -->
        <div class="mb-2">
          <span class="footer-author-name">Julio Quezada</span>
          <a href="https://github.com/Alejandroq12" target="_blank" class="text-white me-2"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://twitter.com/JulioAle54" target="_blank" class="text-white me-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/quezadajulio/" target="_blank" class="text-white me-2"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="http://www.quezadajulio.com" target="_blank" class="text-white me-2"><i class="fas fa-globe fa-lg"></i></a>
        </div>
        <!-- Author 2: Nessrine Macherki -->
        <div>
          <span class="footer-author-name">Nessrine Macherki</span>
          <a href="https://github.com/Nessrine88" target="_blank" class="text-white me-2"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/nessrine-macherki-86959196/" target="_blank" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-4 text-center text-md-right">
        <h5>RecipeApp</h5>
        <p>© 2024 RecipeApp. All rights reserved.</p>
        <p>Made by Julio Quezada & Nessrine Macherki</p>
      </div>
    </div>
  </div>
</footer>
<% end %>
